<!-- <div class="row"> -->
  <br/>
  <div class="ui statistic inverted segment" >
    <div class="label">
      Confirmed
    </div>
    <div class="value" >
      {{ totalCollege }}
    </div>
    <div class="label">
      {{ college }}
    </div>

    <br/>
    <a class="ui yellow image label">
      <!-- <img src="/images/avatar/small/christian.jpg"> -->
      {{ state }}&nbsp;
      <div class="detail">State</div>
    </a>

    <br/>
    <a class="ui blue image label">
      <!-- <img src="/images/avatar/small/veronika.jpg"> -->
      {{ city }}&nbsp;
      <div class="detail">City</div>
    </a>

    <br/>
    <a class="ui orange image label">
      <!-- <img src="/images/avatar/small/veronika.jpg"> -->
      {{ county }}&nbsp;
      <div class="detail">County</div>
    </a>

  </div>
  <br/>
<!-- </div> -->




