
<div class="jumbotron bg-dark text-center" >
<div class="row">

    <div class="card col p-3 m-3 ui inverted segment">
      <div class="ui red inverted statistic">
        <div class="label">
          <h3>Asia</h3>
        </div>
        <div class="value orange">
          {{asia}}
        </div>
      </div>
    </div>



    <div class="card col p-3 m-3 ui inverted segment">
      <div class="ui yellow inverted statistic">
        <div class="label">
          <h3>North America</h3>
        </div>
        <div class="value yellow">
          {{namerica}}
        </div>
      </div>
    </div>


    <div class="card col p-3 m-3 ui inverted segment">
      <div class="ui violet inverted statistic">
        <div class="label">
          <h3>South America</h3>
        </div>
        <div class="value voilet">
          {{samerica}}
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="card col p-3 m-3 ui inverted segment">
      <div class="ui green inverted statistic">
        <div class="label">
          <h3>Africa</h3>
        </div>
        <div class="value green">
          {{africa}}
        </div>
      </div>
    </div>

    <div class="card col p-3 m-3 ui inverted segment">
      <div class="ui green inverted statistic">
        <div class="label">
          <h3>Australia</h3>
          <h4>/Oceania</h4>
        </div>
        <div class="value green">
          {{samerica}}
        </div>
      </div>
    </div>

    <div class="card col p-3 m-3 ui inverted segment">
      <div class="ui green inverted statistic">
        <div class="label">
          <h3>Europe</h3>
        </div>
        <div class="value green">
          {{europe}}
        </div>
      </div>
    </div>


</div>
</div>
