/* .container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  grid-gap: 20px;
  place-content: center;
  margin-top: 30px;
}
.container > * {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
} */
.cbutton{
  width: 200px;
  height: 30px;
}
