<head>
  <script src = ".../app/userinput/userinput.js"> </script>
</head>
<div class="ui inverted segment">

  <h1> Corona Virus Tracker </h1>
  <app-nav-bar></app-nav-bar>
  <div class="float-right" >
    <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular linkedin icon button" (click)="openIt()">
      <i class="linkedin icon"></i>
    </button>
    <button class="ui circular google plus icon button">
      <a href="https://www.linkedin.com/in/dilraj-singh-9599861b1/"></a>
      <i class="google plus icon"></i>
    </button>
  </div>


  <div class="jumbotron bg-dark text-center" >




    <h1 class="ui header orange"> World Dashboard </h1>
    <div class="row">

      <div class="card col p-3 m-3 ui inverted segment">
        <div class="ui red inverted statistic">
          <div class="label">
            <h3>Total Confirmed</h3>
          </div>
          <div class="value orange">
            {{totalConfirmed}}
          </div>
        </div>
      </div>

        <div class="card col p-3 m-3 ui inverted segment">
          <div class="ui yellow inverted statistic">
            <div class="label">
              <h3>Total Recovered</h3>
            </div>
            <div class="value">
              {{totalRecovered}}
            </div>
          </div>
        </div>

        <div class="card col p-3 m-3 ui inverted segment">
          <div class="ui violet inverted statistic">
            <div class="label">
              <h3>Total Deaths</h3>
            </div>
            <div class="value orange">
              {{totalDeaths}}
            </div>
          </div>
        </div>

    </div>


    <div class="ui large buttons">
      <button class="ui button" (click)="showBarChart()">Bar Chart </button>
      <div class="or"></div>
      <button class="ui button" (click)="showPieChart()" >Pie Chart</button>
    </div>

    <div class="row">

      <div class="column-md-6" >
        <!-- <app-bar-charts class="mr-6" *ngIf="barChart"></app-bar-charts> -->
        <app-bar-charts class="mr-6"></app-bar-charts>

      </div>

      <div class="column-md-6" >

        <!-- <app-pie-chart class="float right" *ngIf="pieChart"></app-pie-chart> -->
        <app-pie-chart class="float right"></app-pie-chart>
      </div>




    </div>



    <!-- <app-line-chart></app-line-chart> -->


  </div>

<hr/>

  <div class="jumbotron bg-dark text-center" >

    <!-- <input type="text" name="college" list="collegenames" class="form-control" #inp (change)="updateStates(inp.value)">
      <datalist id="collegenames">
        <option value="{{college}}" *ngFor="let college of colleges">{{ college }}</option>
      </datalist> -->

  <div class="input-group mb-3 form-group col-lg-5 mx-auto">
    <label class="input-group-text mr-3 mt-4" for="inputGroupSelect01">Country</label>

    <input type="text" placeholder="Select" name="country" list="countries" class="form-select mt-4" (change)="getCountry($event.target.value)" style="width: 85%;">
        <datalist id="countries">
          <option value="{{country}}" *ngFor="let country of countriesTable">{{ country }}</option>
        </datalist>

    <!-- </select> -->
    <button class="ui inverted orange button  mt-4 ml-2" (click)="getCoronaData()" >Get Corona Data</button>

      <!-- <div class="row"> -->
  <br/>


<!-- Table  -->

  </div>


    <div class="ui statistic inverted segment" *ngIf="countrySub">
      <!-- <div class="label">
        Confirmed
      </div>
      <div class="value" >
        {{ totalCollege }}
      </div>
      <div class="label">
        {{ college }}
      </div> -->

      <a class="ui orange image label">
        {{ country }}&nbsp;
        <div class="detail">Country</div>
      </a>

      <br/>
      <a class="ui yellow image label">
        <!-- <img src="/images/avatar/small/christian.jpg"> -->
        {{ NewConfirmed }}&nbsp;
        <div class="detail">New Confirmed</div>
      </a>

      <br/>
      <a class="ui yellow image label">
        <!-- <img src="/images/avatar/small/christian.jpg"> -->
        {{ NewDeaths }}&nbsp;
        <div class="detail">New Deaths</div>
      </a>

      <br/>
      <a class="ui blue image label">
        <!-- <img src="/images/avatar/small/veronika.jpg"> -->
        {{ NewRecovered }}&nbsp;
        <div class="detail">New Recovered</div>
      </a>

      <br/>


  <br/>
<!-- </div> -->






  </div>

  <!-- <div class="input-group mb-3">
    <label class="input-group-text mr-3 mt-4" for="inputGroupSelect01">City</label>

    <input type="text" name="country" list="countries" class="form-select mt-4" (change)="getCity($event.target.value)">
        <datalist id="countries">
          <option value="{{city}}" *ngFor="let city of cities">{{ city }}</option>
        </datalist>

    </select>
    <button class="ui inverted orange button  mt-4 ml-2" (click)="getCoronaData()" >Get Corona Data</button>

  </div> -->


  <!-- <button class="btn btn-primary" (click)="getCoronaData()" >Get Corona Data</button> -->

    <!-- <h3>confirmed: {{confirmed}}</h3>
    <h3>recovered: {{recovered}}</h3>
    <h3>deaths:  {{deaths}}</h3> -->

    <div class="row">
      <h1 class="ui header orange">{{upCountry}}</h1>
    </div>

    <div class="row" *ngIf='countrySelected'>

      <div class="card col p-3 m-3 ui inverted segment">
        <div class="ui red inverted statistic">
          <div class="label">
            <h3>Confirmed</h3>
          </div>
          <div class="value orange">
            {{confirmed}}
          </div>
        </div>
      </div>

        <div class="card col p-3 m-3 ui inverted segment">
          <div class="ui yellow inverted statistic">
            <div class="label">
              <h3>Recovered</h3>
            </div>
            <div class="value">
              {{recovered}}
            </div>
          </div>
        </div>

        <div class="card col p-3 m-3 ui inverted segment">
          <div class="ui violet inverted statistic">
            <div class="label">
              <h3>Deaths</h3>
            </div>
            <div class="value orange">
              {{deaths}}
            </div>
          </div>
        </div>

        <!-- <div class="card col p-3 m-3 ui inverted segment">
          <div class="ui green inverted statistic">
            <div class="label">
              <h3>Active</h3>
            </div>
            <div class="value orange">
              {{totalActive}}
            </div>
          </div>
        </div> -->

    </div>



    <!-- <div class="pie" [chart]="donutChart"></div>
    <div class="area" [chart]="areaChart"></div>
    <div class="bar" [chart]="barChart"></div>
    <div class="one-line-bar" [chart]="oneLineBar"></div>
    <div class="pie" [chart]="pieChart"></div> -->


  </div>



    <h2 id="section-continents" class="ui header">
      <i class="plug icon"></i>
      <div class="content">
        Continents
      </div>
    </h2>

    <a class="ui orange tag label mt-2 ml-2">Continents</a>

    <div class="ui buttons right floated">
      <a class="ui orange tag label mt-2 ml-3">Raw files</a>
    </div>

    <div class="ui buttons right floated">
      <button class="ui button">
        <i class="file alternate icon"></i>
        <a href="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv">Raw 1</a>
      </button>
      <button class="ui button">
        <i class="file alternate icon"></i>
        <a href="https://raw.githubusercontent.com/nytimes/covid-19-data/master/colleges/colleges.csv">Raw 2</a>
      </button>
    </div>

    <h4 class="ui orange inverted header">Number of cases in different continents</h4>

    <app-continents></app-continents>

    <h2 id="section-colleges" class="ui header">
      <i class="university icon"></i>
      <div class="content">
        Colleges
      </div>
    </h2>

    <a class="ui orange tag label mt-2 ml-2">Colleges</a>

    <h4 class="ui orange inverted header">Number of cases in different schools accross United States</h4>

    <app-college></app-college>

    <!-- <app-tables></app-tables> -->
    <h2 id="section-register" class="ui header">
      <i class="bell icon"></i>
      <div class="content">
        Register
      </div>
    </h2>

    <a class="ui orange tag label mt-2 ml-2">Register</a>

    <h4 class="ui orange inverted header">Sign up for notification about further outbreak of COVID-19 </h4>
    <app-userinput></app-userinput>
    <a href="#">Jump to Top</a>

</div>


  <!-- <app-pie-chart [datatable]="datatable"></app-pie-chart> -->
  <router-outlet></router-outlet>




