.top-nav-bar {
    overflow: hidden;
}
.top-nav-bar a {
    float:left;
    padding: 14px 16px;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(255, 136, 0);
}
.top-nav-bar a:hover {
    background-color: rgb(71, 71, 71);
    color: white;
}
